<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="shakti">
	 <xacro:include filename="include.xacro" />
	 
	 <link name="base_l">
		<visual>
			<origin xyz="0 0 0.005" rpy="0 0 0"/>
			<geometry>
				<box size="0.2 0.3 0.01"/>
			</geometry>
			<material name="red">
				<color rgba="1.0 0.0 0.0 1.0"/>
			</material>
		</visual>
		<collision>
			<origin xyz="0 0 0.005" rpy="0 0 0"/>
			<geometry>
				<box size="0.2 0.3 0.01"/>
			</geometry>
		</collision>
		<xacro:inertial_box mass="1.0" x="0.2" y="0.3" z="0.01">
            		<origin xyz="0 0 0.005" rpy="0 0 0"/>
        	</xacro:inertial_box>

	</link>
	
	
	
	<joint name="base_to_frontleft" type="continuous">
		<parent link="base_l"/>
		<child link="front_left_wheel"/>
		<origin xyz="-0.1 0.11 0" rpy="0 0 0"/>
		<axis xyz="1 0 0"/>
	</joint>

	<link name="front_left_wheel">
		<visual>
			<origin xyz="0 0 0" rpy="0 1.5708 0"/>
			<geometry>
				<cylinder radius="0.04" length="0.02"/>
			</geometry>
			<material name="black">
				<color rgba="0.1 0.1 0.1 1"/>
			</material>
		</visual>
		
		<collision>
			<origin xyz="0 0 0" rpy="0 1.5708 0"/>
			<geometry>
				<cylinder radius="0.04" length="0.02"/>
			</geometry>
		</collision>
		
		<xacro:inertial_cylinder mass="0.2" radius="0.04" length="0.02">
			<origin xyz="0 0 0" rpy="0 1.5708 0"/>
		</xacro:inertial_cylinder>
	</link>

	<joint name="base_to_frontright" type="continuous">
		<origin xyz="0.1 0.11 0" rpy="0 0 0" />
		<parent link="base_l"/>
		<child link="front_right_wheel" />
		<axis xyz="1 0 0"/>
	</joint>

	<link name="front_right_wheel">
		<visual>
			<origin xyz="0 0 0" rpy="0 1.5708 0"/>
			<geometry>
				<cylinder radius="0.04" length="0.02"/>
			</geometry>
			<material name="black">
				<color rgba="0.1 0.1 0.1 1"/>
			</material>
		</visual>
		
		<collision>
			<origin xyz="0 0 0" rpy="0 1.5708 0"/>
			<geometry>
				<cylinder radius="0.04" length="0.02"/>
			</geometry>
		</collision>
		
		<xacro:inertial_cylinder mass="0.2" radius="0.04" length="0.02">
			<origin xyz="0 0 0" rpy="0 1.5708 0"/>
		</xacro:inertial_cylinder>
	</link>



		
	<joint name="base_to_backleft" type="continuous">
			<origin xyz="-0.1 -0.11 0" rpy="0 0 0"/>
			<parent link="base_l"/>
			<child link="back_left_wheel"/>
			<axis xyz="1 0 0"/>
	</joint>



	<link name="back_left_wheel">
		<visual>
			<origin xyz="0 0 0" rpy="0 1.5708 0"/>
			<geometry>
				<cylinder radius="0.04" length="0.02"/>
			</geometry>
			<material name="black">
				<color rgba="0.1 0.1 0.1 1"/>
			</material>
		</visual>
		
		<collision>
			<origin xyz="0 0 0" rpy="0 1.5708 0"/>
			<geometry>
				<cylinder radius="0.04" length="0.02"/>
			</geometry>
		</collision>
		
		<xacro:inertial_cylinder mass="0.2" radius="0.04" length="0.02">
			<origin xyz="0 0 0" rpy="0 1.5708 0"/>
		</xacro:inertial_cylinder>
	</link>

	<joint name="base_to_backright" type="continuous">
		<origin xyz="0.1 -0.11 0" rpy="0 0 0" />
		<parent link="base_l"/>
		<child link="back_right_wheel" />
		<axis xyz="1 0 0"/>
	</joint>

	<link name="back_right_wheel">
		<visual>
			<origin xyz="0 0 0" rpy="0 1.5708 0"/>
			<geometry>
				<cylinder radius="0.04" length="0.02"/>
			</geometry>
			<material name="black">
				<color rgba="0.1 0.1 0.1 1"/>
			</material>
		</visual>
		
		<collision>
			<origin xyz="0 0 0" rpy="0 1.5708 0"/>
			<geometry>
				<cylinder radius="0.04" length="0.02"/>
			</geometry>
		</collision>
		
		<xacro:inertial_cylinder mass="0.2" radius="0.04" length="0.02">
			<origin xyz="0 0 0" rpy="0 1.5708 0"/>
		</xacro:inertial_cylinder>
	</link>
		
		
	<joint name="base_to_arm" type="revolute">
		<origin xyz="0 0.15 0" rpy="0 0 0"/>
		<parent link="base_l"/>
		<child link="arm"/>
		<axis xyz="1 0 0"/>
		<limit lower="-1.5708" upper="0" effort="10" velocity="1.0"/>
	</joint>
	
	<link name="arm">
		<visual>
			<origin xyz="0 0 0.1" rpy="0 0 0"/>
			<geometry>
				<box size="0.04 0.04 0.2"/>
			</geometry>
			<material name="black">
				<color rgba="0.1 0.1 0.1 1"/>
			</material>
		</visual>
		<collision>
			<origin xyz="0 0 0.1" rpy="0 0 0"/>
			<geometry>
				<box size="0.04 0.04 0.2"/>
			</geometry>
		</collision>
		<xacro:inertial_box mass="0.08" x="0.04" y="0.04" z="0.2">
            		<origin xyz="0 0 0.1" rpy="0 0 0"/>
        	</xacro:inertial_box>
        </link>
        
        <joint name="cam_joint" type="fixed">
        	<origin xyz="0 0 0.2" rpy="0 0 0"/>
        	<parent link="arm"/>
        	<child link="camera_link"/>
        </joint>
        
        <link name="camera_link">
        	<visual>
        		<origin xyz="0 0 0" rpy="0 0 0"/>
        		<geometry>
        			<box size="0.04 0.04 0.04"/>
        		</geometry>
        		<material name="yellow">
        			<color rgba="1 1 0 1"/>
        		</material>
        	</visual>
        	
        	<collision>
        		<origin xyz="0 0 0" rpy="0 0 0"/>
        		<geometry>
        			<box size="0.04 0.04 0.04"/>
        		</geometry>
        	</collision>
        	<xacro:inertial_box mass="0.03" x="0.04" y="0.04" z="0.04">
            		<origin xyz="0 0 0" rpy="0 0 0"/>
        	</xacro:inertial_box>
        </link>
        
	<gazebo reference="camera_link">
    		<sensor name="camera_sensor" type="camera">
        
        
        		<update_rate>30</update_rate>
        		<topic>/camera/image_raw</topic>
        
        		<camera>
            
            			<horizontal_fov>1.047</horizontal_fov>
            
            
            			<image>
                			<width>1920</width>
                			<height>1080</height>
                			<format>R8G8B8</format>
            			</image>
            
           
            			<clip>
                			<near>0.1</near>
                			<far>100</far>
            			</clip>
            
            
            			<noise>
                			<type>gaussian</type>
                			<mean>0.0</mean>
                			<stddev>0.007</stddev>
            			</noise>
        		</camera>
        
        		<always_on>true</always_on>
        		<visualize>true</visualize>
    		</sensor>
	</gazebo>
        		
        	
	<gazebo>
		<plugin filename="libignition-gazebo6-diff-drive-system.so" name="ignition::gazebo::systems::DiffDrive">
			<left_joint>base_to_frontleft</left_joint>
			<left_joint>base_to_backleft</left_joint>
			<right_joint>base_to_frontright</right_joint>
		        <right_joint>base_to_backright</right_joint>
		        <odom_frame>odom</odom_frame>
    			<robot_base_frame>base_l</robot_base_frame>
			<wheel_separation>0.2</wheel_separation>
			<wheel_radius>0.04</wheel_radius>
			<odom_topic>/odom</odom_topic>
			<topic>/cmd_vel</topic>
			<odom_publish_frequency>10</odom_publish_frequency>
			<publish_odom>true</publish_odom>
			<tf_topic>/tf</tf_topic>
    			<publish_odom_tf>true</publish_odom_tf>
    			<publish_wheel_tf>true</publish_wheel_tf>
    			<frame_id>odom</frame_id>
    			<child_frame_id>base_l</child_frame_id>
    			
		</plugin>
	</gazebo>
	

        
        <joint name="lidar_mast_joint" type="fixed">
        	<parent link="base_l"/>
        	<child link="lidar_mast"/>
        	<origin xyz="0.0 -0.1 0" rpy="0 0 0"/>
    	</joint>

    	<link name="lidar_mast">
        	<visual>
        		<origin xyz="0 0 0.1" rpy="0 0 0"/>
            		<geometry>
            			<cylinder radius="0.01" length="0.2"/>
            		</geometry>
            		<material name="black">
            			<color rgba="0.1 0.1 0.1 1.0"/>
            		</material>
        	</visual>
        	<collision>
        		<origin xyz="0 0 0.1" rpy="0 0 0"/>
            		<geometry>
            			<cylinder radius="0.01" length="0.2"/>
            		</geometry>
        	</collision>
        	<xacro:inertial_cylinder mass="0.05" radius="0.01" length="0.2">
            		<origin xyz="0 0 0.1" rpy="0 0 0"/>
        	</xacro:inertial_cylinder>
    	</link>

    	<joint name="laser_joint" type="fixed">
        	<parent link="lidar_mast"/>
        	<child link="laser_frame"/>
        	<origin xyz="0.0 0.0 0.2" rpy="0 0 0"/>
    	</joint>

    	<link name="laser_frame">
        	<visual>
        		<origin xyz="0 0 0.015" rpy="0 0 0"/>
            		<geometry>
            			<cylinder radius="0.03" length="0.03"/>
            		</geometry>
            		<material name="orange">
            			<color rgba="1.0 0.5 0.0 1.0"/>
            		</material>
        	</visual>
        	<collision>
        		<origin xyz="0 0 0.015" rpy="0 0 0"/>
            		<geometry>
            			<cylinder radius="0.03" length="0.03"/>
            		</geometry>
        	</collision>
        	<xacro:inertial_cylinder mass="0.1" radius="0.03" length="0.03">
            		<origin xyz="0 0 0.015" rpy="0 0 0"/>
        	</xacro:inertial_cylinder>
    	</link>
        
        <gazebo reference="laser_frame">
        	<sensor type="gpu_lidar" name="gpu_lidar">
        		<pose>0 0 0 0 0 0</pose>
        		<always_on>true</always_on>
        		<visualize>true</visualize>
        		<update_rate>10</update_rate>
        		<topic>scan</topic>
        		<ignition_frame_id>laser_frame</ignition_frame_id>
        		<ray>
        			<scan>
        				<horizontal>
        					<samples>720</samples>
        					<resolution>1</resolution>
        					<min_angle>-3.14</min_angle>
        					<max_angle>3.14</max_angle>
        				</horizontal>
        			</scan>
        			<range>
        				<min>0.1</min>
        				<max>30.0</max>
        				<resolution>0.01</resolution>
        			</range>
        		</ray>	
        	</sensor>

    	</gazebo>
    	
    	<joint name="imu_joint" type="fixed">
    		<parent link="base_l"/>
    		<child link="imu_link"/>
    		<origin xyz="0 0 0" rpy="0 0 0"/>
    	</joint>
    	
    	<link name="imu_link">
    		<visual>
    			<origin xyz="0 0 0.01" rpy="0 0 0"/>
    			<geometry>
    				<box size="0.02 0.02 0.02"/>
    			</geometry>
    			<material name="blue">
    				<color rgba="0 0 1 1"/>
    			</material>
    		</visual>
    		
    		<collision>
    			<origin xyz="0 0 0.01" rpy="0 0 0"/>
    			<geometry>
    				<box size="0.02 0.02 0.02"/>
    			</geometry>
    		</collision>
    		
    		<xacro:inertial_box mass="0.01" x="0.02" y="0.02" z="0.02">
            		<origin xyz="0 0 0.01" rpy="0 0 0"/>
        	</xacro:inertial_box>
        </link>
        
        <gazebo reference="imu_link">
    		<sensor name="imu_sensor" type="imu">
        		<always_on>true</always_on>
        		<update_rate>50</update_rate>
        		<visualize>true</visualize>
			<topic>/imu</topic>
    			<ignition_frame_id>imu_link</ignition_frame_id>

        		
        		<imu>
            			<angular_velocity>
                			<x>
                				<noise type="gaussian">
                    					<mean>0</mean>
                    					<stddev>0.01</stddev>
                				</noise>
                			</x>
                			<y>
                				<noise type="gaussian">
                    					<mean>0</mean>
                    					<stddev>0.01</stddev>
                				</noise>
                			</y>
                			<z>
                				<noise type="gaussian">
                    					<mean>0</mean>
                    					<stddev>0.01</stddev>
                				</noise>
                			</z>
            			</angular_velocity>

            			<linear_acceleration>
		        		<x>
                				<noise type="gaussian">
                    					<mean>0</mean>
                    					<stddev>0.01</stddev>
                				</noise>
                			</x>
                			<y>
                				<noise type="gaussian">
                    					<mean>0</mean>
                    					<stddev>0.01</stddev>
                				</noise>
                			</y>
                			<z>
                				<noise type="gaussian">
                    					<mean>0</mean>
                    					<stddev>0.01</stddev>
                				</noise>
                			</z>
            			</linear_acceleration>
        		</imu>
    		</sensor>
	</gazebo>
	
	<ros2_control name="IgnitionSystem" type="system">
	  <hardware>
	    <plugin>ign_ros2_control/IgnitionSystem</plugin>
	  </hardware>
	  <joint name="base_to_arm">
	    <command_interface name="position"/>
	    <state_interface name="position"/>
	    <state_interface name="velocity"/>
	  </joint>
	</ros2_control>
	<gazebo>
	
	  <plugin filename="libign_ros2_control-system.so"
		  name="ign_ros2_control::IgnitionROS2ControlPlugin">
	    <parameters>/home/safiya/ros2_ws/src/rover/config/controllers.yaml</parameters>
	  </plugin>
	</gazebo>
	
	<gazebo>
	  <plugin
	    filename="libignition-gazebo-joint-state-publisher-system.so"
	    name="ignition::gazebo::systems::JointStatePublisher">
	    	<topic>joint_states</topic> 
	    	<joint_name>base_to_frontleft</joint_name>
	    	<joint_name>base_to_frontright</joint_name>
	    	<joint_name>base_to_backleft</joint_name>
	    	<joint_name>base_to_backright</joint_name>
	    </plugin>
	</gazebo>
	
	
	

	
		
	
</robot>
		
			
	
	

